@page
@model MovieBooker.Pages.Admin.Movie.DetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MovieBooker.Dtos
@{
	ViewData["Title"] = "Movie Detail";
	Layout = "_AdminLayout";
}
<style>
	.image-gallery {
		display: flex;
		overflow-x: auto;
		gap: 10px;
		white-space: nowrap;
	}

	.image-item {
		position: relative;
		flex: 0 0 auto;
		margin-right: 10px;
	}

		.image-item img {
			width: 150px;
			height: 200px;
			object-fit: cover;
			display: block;
		}

	.form-group {
		margin-bottom: 20px;
	}

	.scroll-view {
		overflow-x: auto;
	}

</style>
<div class="content-wrapper">
	<div class="row">
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						<a asp-page="/admin/movie/index">
							<i class="fa fa-mail-reply" style="font-size: 20px; color: #b66dff" ;"></i>
						</a>
					</div>
					<div class="form-group">
						<label>Image</label>
						<br />
						@if(Model.movie.MovieImages == null || Model.movie.MovieImages.Count == 0)
						{
							<input type="text" class="form-control" placeholder="Movie do not have image" readonly>
						}
						else
						{
							<div class="image-gallery scroll-view">
								@foreach (var item in Model.movie.MovieImages)
								{
									<div class="image-item">
										<img src="@item.LinkImage" alt="Image Movie" width="150" height="200">
									</div>
								}
							</div>
						}
					</div>
					<div class="form-group">
						<label for="MovieTitle">Title</label>
						<input type="text" class="form-control" id="MovieTitle" placeholder="Title book" asp-for="@Model.movie.MovieTitle" readonly>
					</div>
					<div class="form-group">
						<label for="Description">Description</label>
						<input type="text" class="form-control" id="Description" placeholder="Description" asp-for="@Model.movie.Description" readonly>
					</div>
					<div class="form-group">
						<label for="Price">Price</label>
						<input type="number" class="form-control" id="Price" placeholder="Price" asp-for="@Model.movie.Price" readonly>
					</div>
					<div class="form-group">
						<label for="Director">Director</label>
						<input type="text" class="form-control" id="Director" placeholder="Director" asp-for="@Model.movie.Director" readonly>
					</div>
					<div class="form-group">
						<label for="Durations">Durations</label>
						<input type="text" class="form-control" id="Durations" placeholder="Durations" asp-for="@Model.movie.Durations" readonly>
					</div>
					<div class="form-group">
						<label for="ReleaseDate">Release Date</label>
						<input type="date" class="form-control" id="ReleaseDate" placeholder="ReleaseDate" asp-for="@Model.movie.ReleaseDate" readonly>
					</div>
					<div class="form-group">
						<label for="Category">Category</label>
						<input type="text" class="form-control" id="Category" placeholder="Category" asp-for="@Model.movie.Category.CategoryName" readonly>
					</div>
					<div class="form-group">
						<label for="Status">Status</label>
						<input type="text" class="form-control" id="Status" placeholder="Status" asp-for="@Model.movie.Status.StatusName" readonly>
					</div>
					<div class="form-group">
						<label for="Trailer">Trailer</label>
						<div class="input-group">
							@if (Model.movie.Trailer == null)
							{
								<input type="text" class="form-control" placeholder="Movie do not have trailer" readonly>
							}
							else
							{
								<iframe width="560" height="315" src="@Model.movie.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border: 10px solid black;"></iframe>
							}
						</div>
					</div>
					<form method="get" class="forms-sample" asp-page="/admin/movie/edit">
						<input type="hidden" name="id" asp-for="@Model.movie.MovieId" />
						<button type="submit" class="btn btn-gradient-primary me-2">Edit</button>
						<a asp-page="/admin/movie/index" class="btn btn-light">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>