@page
@model MovieBooker.Pages.Admin.Movie.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MovieBooker.Dtos
@{
	ViewData["Title"] = "Movie Edit";
	Layout = "_AdminLayout";
}
<style>
	.image-gallery {
		display: flex;
		flex-wrap: wrap;
	}

	.image-item {
		position: relative;
		margin: 10px;
	}

		.image-item img {
			max-width: 200px;
			max-height: 200px;
		}

	.delete-btn {
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: rgba(255, 0, 0, 0.5);
		color: white;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		text-decoration: none;
</style>
<div class="content-wrapper">
	<div class="row">
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						<label>Image</label>
						<br />
						<div style="display: flex">
							@foreach (var item in Model.movie.MovieImages)
							{
								<div class="image-gallery">
									<div class="image-item">
										<img src="@item.LinkImage" alt="Image Movie" width="150" height="200">
										<form method="post" asp-page="/admin/movie/deleteImage" asp-route-id="@item.Id">
											<button type="submit" class="delete-btn">&times;</button>
										</form>
									</div>
								</div>
							}
						</div>
					</div>
					<form method="post" class="forms-sample" enctype="multipart/form-data">
						<input type="hidden" asp-for="@Model.movie.MovieId" />
						<div class="form-group">
							<input type="file" id="uploadInput" name="NewImages" class="file-upload-default" style="display: none;" multiple onchange="displayFileNames(this)">
							<div class="input-group col-xs-12">
								<input type="text" class="form-control file-upload-info" disabled placeholder="Upload Images" id="fileNamesDisplay">
								<span class="input-group-append">
									<button class="file-upload-browse btn btn-gradient-primary py-3" type="button" onclick="openFilePicker()">Upload</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="MovieTitle">Title</label>
							<input type="text" class="form-control" id="MovieTitle" placeholder="Title book" asp-for="@Model.movie.MovieTitle">
						</div>
						<div class="form-group">
							<label for="Description">Description</label>
							<input type="text" class="form-control" id="Description" placeholder="Description" asp-for="@Model.movie.Description">
						</div>
						<div class="form-group">
							<label for="Price">Price</label>
							<input type="number" class="form-control" id="Price" placeholder="Price" asp-for="@Model.movie.Price">
						</div>
						<div class="form-group">
							<label for="Director">Director</label>
							<input type="text" class="form-control" id="Director" placeholder="Director" asp-for="@Model.movie.Director">
						</div>
						<div class="form-group">
							<label for="Durations">Durations</label>
							<input type="text" class="form-control" id="Durations" placeholder="Durations" asp-for="@Model.movie.Durations">
						</div>
						<div class="form-group">
							<label for="ReleaseDate">Release Date</label>
							<input type="date" class="form-control" id="ReleaseDate" placeholder="ReleaseDate" asp-for="@Model.movie.ReleaseDate">
						</div>
						<div class="form-group">
							<label for="CategoryId">Category</label>
							<select class="form-select" id="exampleSelectCategory" asp-for="@Model.movie.CategoryId">
								@foreach (var item in Model.MovieCategories)
								{
									<option value="@item.CategoryId" selected="@(item.CategoryId == Model.movie.CategoryId ? "selected" : "")">@item.CategoryName</option>
								}
							</select>
						</div>
						<div class="form-group">
							<label for="StatusId">Status</label>
							<select class="form-select" id="StatusId" asp-for="@Model.movie.StatusId">
								@foreach (var item in Model.MovieStatuses)
								{
									<option value="@item.StatusId" selected="@(item.StatusId == Model.movie.StatusId ? "selected" : "")">@item.StatusName</option>
								}
							</select>
						</div>

						<div class="form-group">
							<label for="Trailer">Trailer</label>
							<div class="input-group">
								<iframe width="560" height="315" src="@Model.movie.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<select class="form-select" id="Trailer" asp-for="@Model.movie.Trailer">
									@foreach (var item in Model.VideoDetails)
									{
										<option value="@item.LinkIframe" selected="@(item.LinkIframe == Model.movie.Trailer ? "selected" : "")">
											@item.Title
										</option>
									}
								</select>
							</div>
						</div>
						<button type="submit" class="btn btn-gradient-primary me-2">Save</button>
						<button class="btn btn-light">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function displayFileNames(input) {
		var fileNames = Array.from(input.files).map(file => file.name).join(', ');
		document.getElementById('fileNamesDisplay').value = fileNames;
	}

	function openFilePicker() {
		document.getElementById('uploadInput').click();
	}
</script>
