@page
@model MovieBooker.Pages.Admin.Movie.InsertModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MovieBooker.Dtos
@{
	ViewData["Title"] = "Movie Insert";
	Layout = "_AdminLayout";
}

<style>
	.image-gallery {
		display: flex;
		overflow-x: auto;
		gap: 10px;
		white-space: nowrap;
	}

	.image-item {
		position: relative;
		flex: 0 0 auto;
		margin-right: 10px;
	}

		.image-item img {
			width: 150px;
			height: 200px;
			object-fit: cover;
			display: block;
		}

	.form-group {
		margin-bottom: 20px;
	}

	.scroll-view {
		overflow-x: auto;
	}

</style>
<div class="content-wrapper">
	<div class="row">
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						<a asp-page="/admin/movie/index">
							<i class="fa fa-mail-reply" style="font-size: 20px; color: #b66dff" ;"></i>
						</a>
					</div>
					<form method="post" class="forms-sample" enctype="multipart/form-data" onsubmit="return validateForm()">
						<div class="form-group">
							<input type="file" id="uploadInput" name="NewImages" class="file-upload-default" style="display: none;" multiple onchange="displayFileNames(this)">
							<div class="input-group col-xs-12">
								<input type="text" class="form-control file-upload-info" disabled placeholder="Upload Images" id="fileNamesDisplay">
								<span class="input-group-append">
									<button class="file-upload-browse btn btn-gradient-primary py-3" type="button" onclick="openFilePicker()">Upload</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="MovieTitle">Title</label>
							<input type="text" class="form-control" id="MovieTitle" placeholder="Title book" asp-for="@Model.movie.MovieTitle">
						</div>
						<div class="form-group">
							<label for="Description">Description</label>
							<input type="text" class="form-control" id="Description" placeholder="Description" asp-for="@Model.movie.Description">
						</div>
						<div class="form-group">
							<label for="Price">Price</label>
							<input type="number" class="form-control" id="Price" placeholder="Price" asp-for="@Model.movie.Price">
						</div>
						<div class="form-group">
							<label for="Director">Director</label>
							<input type="text" class="form-control" id="Director" placeholder="Director" asp-for="@Model.movie.Director">
						</div>
						<div class="form-group">
							<label for="Durations">Durations</label>
							<input type="text" class="form-control" id="Durations" placeholder="Durations" asp-for="@Model.movie.Durations">
						</div>
						<div class="form-group">
							<label for="ReleaseDate">Release Date</label>
							<input type="date" class="form-control" id="ReleaseDate" placeholder="ReleaseDate" asp-for="@Model.movie.ReleaseDate">
						</div>
						<div class="form-group">
							<label for="CategoryId">Category</label>
							<select class="form-select" id="exampleSelectCategory" asp-for="movie.CategoryId" asp-items="@(new SelectList(Model.MovieCategories, "CategoryId", "CategoryName"))">
							</select>
						</div>
						<div class="form-group">
							<label for="StatusId">Status</label>
							<select class="form-select" id="StatusId" asp-for="movie.StatusId" asp-items="@(new SelectList(Model.MovieStatuses, "StatusId", "StatusName"))">
							</select>
						</div>
						<div class="form-group">
							<label for="Trailer">Trailer</label>
							<div class="input-group">
								<select class="form-select" id="Trailer" asp-for="movie.Trailer" asp-items="@(new SelectList(Model.VideoDetails, "LinkIframe", "Title"))">
								</select>
							</div>
						</div>
						<button type="submit" class="btn btn-gradient-primary me-2">Add</button>
						<a asp-page="/admin/movie/index" class="btn btn-light">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function displayFileNames(input) {
		var fileNames = Array.from(input.files).map(file => file.name).join(', ');
		document.getElementById('fileNamesDisplay').value = fileNames;
	}

	function openFilePicker() {
		document.getElementById('uploadInput').click();
	}

	function validateForm() {
		var requiredFields = [
			document.getElementById('MovieTitle').value.trim(),
			document.getElementById('Description').value.trim(),
			document.getElementById('Price').value.trim(),
			document.getElementById('Director').value.trim(),
			document.getElementById('Durations').value.trim(),
			document.getElementById('ReleaseDate').value.trim()
		];

		for (var i = 0; i < requiredFields.length; i++) {
			if (requiredFields[i] === '') {
				alert("Please fill in all the required fields.");
				return false;
			}
		}

		return confirm("Are you sure you want to add this movie?");
	}
</script>
