@page
@model MovieBooker.Pages.Users.Movies.ListMovieModel
@{
}
<section id="upcome" class="p_3 bg-light">

    <div class="container-xl">
        <div class="row upcome_1 text-center">
            <div class="col-md-12">
                @if (TempData["movie"] == "status2")
                {
                    <h3 class="mb-0">PHIM ĐANG CÔNG CHIẾU</h3>
                }
                else if (TempData["movie"] == "status1")
                {
                    <h3 class="mb-0">PHIM SẮP CÔNG CHIẾU</h3>
                }
                <hr class="line me-auto ms-auto">
            </div>
        </div>
        <div class="row upcome_2 mt-4">
            <div class="tab-content">
                <div class="upcome_2i row">

                    @foreach (var moive in Model.moives)
                    {
                        <div class="col-md-3">
                            <div class="upcome_2i1 clearfix position-relative">
                                <div class="upcome_2i1i clearfix">
                                    <img src="@moive.MovieImages.First().LinkImage" class="w-100" alt="abc" style="height: 23.9rem;">
                                </div>
                                <div class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100">
                                    <h6 class="text-uppercase"><a class="button_1" href="@moive.Trailer">Xem Trailer</a></h6>
                                    <h6 class="text-uppercase mb-0">
                                        <a class="button_2"
                                       asp-page="/Users/Movies/DetailMovie"
                                       asp-route-id="@moive.MovieId">Xem chi tiết</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="upcome_2i_last bg-white p-3" style="height: 8.7rem;">
                                <div class="upcome_2i_lasti row">
                                    <div class="col-md-9 col-9">
                                        <div class="upcome_2i_lastil">
                                            <h5><a href="#">@moive.MovieTitle</a></h5>
                                            <h6 class="text-muted">@moive.Category.CategoryName</h6>
                                            <span class="col_red">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-0 col-3">
                                        @if (TempData["movie"] == "status2")
                                        {
                                            <div class="upcome_2i_lastir pt-3">
                                                <span><a style="width: 70px;" class="col_red rounded" asp-page="/Users/Cart/Ticket" asp-route-id="@moive.MovieId">MUA VÉ</a></span>
                                            </div>
                                        }
                                        else if (TempData["movie"] == "status1")
                                        {
                                            <div class="upcome_2i_lastir pt-3">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>